<!DOCTYPE html>
<html>
  <head>
    <title>RailsStore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <main role="main">
      <%= render "layouts/slider" %>
      <%= yield %>
      <%= render "layouts/footer" %>
    </main>
</html>
